{{#if (equals pages 1)}}
{{else}}
{{#if pages}}
<nav class="webkite-results-paginator" role="pagnation">
  <a href="#" data-page="1" class="first-result-page {{#if (equals page 1)}}disabled{{/if}}" {{#if (equals page 1)}}disabled=""{{/if}}>&#171</a>
  <a href="#" data-page="{{prevPage}}" class="previous-result-page {{#if (equals page 1)}}disabled{{/if}}" {{#if (equals page 1)}}disabled=""{{/if}}>&#8249</a>
  <p>
    page <input class="webkite-page-input" type="number" value="{{page}}" min="1" max="{{pages}}"/> <em>of</em> {{pages}}
  </p>
  <a href="#" data-page="{{nextPage}}" class="next-result-page {{#if (equals page pages)}}disabled{{/if}}" {{#if (equals page pages)}}disabled=""{{/if}}>&#8250</a>
  <a href="#" data-page="{{pages}}" class="last-result-page {{#if (equals page pages)}}disabled{{/if}}" {{#if (equals page pages)}}disabled=""{{/if}}>&#187</a>
</nav>
{{/if}}
{{/if}}
