{{~#if (find facets sortable=true)~}}
  <div class="webkite-sort-area">
    {{~#if sort.currentSort~}}
      {{~#each (select facets sortable=true)~}}
        {{~#if (equals name ../sort.currentSort)~}}
          <div class="webkite-sort-menu-trigger"><span class="webkite-tooltip webkite-toggle" data-target=".sort-menu" title="{{t "Sorted by" default="Sorted by"}}: {{displayName}}" data-webkite-tooltip="touchdisabled">
            {{displayName}}
          </span><i></i></div>
        {{~/if~}}
      {{~/each~}}
    {{~else~}}
      <div class="webkite-sort-menu-trigger"><span class="webkite-tooltip webkite-toggle" data-target=".sort-menu" title="{{t "Sort" default="Sort"}}" data-webkite-tooltip="touchdisabled">
        {{t "Sort" default="Sort"}}
      </span><i></i></div>
    {{/if~}}
    <ul class="sort-menu webkite-menu webkite-hide">
      {{#unless sort.hideDefault~}}
        <li class="webkite-apply-sort{{#unless sort.currentSort}} webkite-active{{/unless}}">
          <a href="#"{{#unless sort.currentSort}} class="webkite-toggle" data-target=".sort-menu"{{/unless}} data-sort="">{{t "Default Sort" default="Default Sort"}}</a>
        </li>
      {{~/unless}}
      {{#each (select facets sortable=true)}}      
        <li class="webkite-apply-sort{{#if (equals name ../sort.currentSort)}} webkite-active{{/if}}"><a href="#" class="{{../sort.currentDirection}}" data-sort="{{name}}">{{displayName}}</a></li>
      {{/each}}
    </ul>
  </div>
{{~/if~}}