{{~#if (find facets sortable=true)~}}
  <div class="webkite-sort-area">
    <button class="webkite-toggle" data-target=".sort-menu" type="button" title="{{t "Sort" default="Sort"}}"><span class="webkite-toggle" data-target=".sort-menu">{{t "Sort" default="Sort"}}</span><i></i></button>
    <ul class="sort-menu webkite-menu webkite-hide">
      <li class="webkite-apply-sort{{#unless sort.currentSort}} active{{/unless}}">
        <a href="#"{{#unless sort.currentSort}} class="webkite-toggle" data-target=".sort-menu"{{/unless}} data-sort="">{{t "Default Sort" default="Default Sort"}}</a>
      </li>  
      {{#each (select facets sortable=true)}}
        <li class="webkite-apply-sort{{#if (equals name ../sort.currentSort)}} active{{/if}}"><a href="#" class="{{../sort.currentDirection}}" data-sort="{{name}}">{{displayName}}</a></li>
      {{/each}}
    </ul>
  </div>
{{~/if~}}