{{~#if sortableFacets.length~}}
  <div class="webkite-sort-area">
    <button class="webkite-toggle" data-id="{{this.id}}" data-target=".sort-menu">sort<i></i></button>
    <ul class="sort-menu webkite-menu webkite-hide">
      <li class="webkite-apply-sort{{#unless currentSort}} active{{/unless}}">
        <a href="#"{{#unless currentSort}} class="webkite-toggle" data-target=".sort-menu"{{/unless}} data-sort="" data-id="{{this.id}}">Default Sort</a>
      </li>  
      {{#each sortableFacets}}
        <li class="webkite-apply-sort {{#if (equals this ../currentSort)}}active{{/if}}"><a href="#" class="{{../currentDirection}}" data-id="{{this.id}}"  data-sort="{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
{{~/if~}}